*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background: linear-gradient(135deg,#ffafbd,#ffc3a0);
  height:100vh;
  overflow:hidden;
  color:#ff245a;
}

#app{
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

/* Screens */

.screen{
  display:none;
  flex-direction:column;
  gap:20px;
  background:rgba(255,255,255,0.95);
  padding:25px;
  border-radius:20px;
  max-width:90%;
  width:350px;
  box-shadow:0 0 25px pink;
}

.screen.active{
  display:flex;
}

/* Buttons */

.btns{
  display:flex;
  justify-content:center;
  gap:15px;
}

button{
  padding:10px 22px;
  border:none;
  border-radius:25px;
  background:#ff5a7a;
  color:white;
  font-size:16px;
  cursor:pointer;
  box-shadow:0 0 10px pink;
  transition:.2s;
}

button:hover{
  transform:scale(1.1);
}

/* Slider */

#slider{
  width:100%;
  height:25px;
}

#sliderText{
  font-size:20px;
  font-weight:bold;
}

/* Videos */

#wnVideo,
#mkcVideo{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  display:none;
  z-index:99;
}

/* Final Overlay */

#overlayText{
  position:fixed;
  bottom:90px;
  left:50%;
  transform:translateX(-50%);
  background:rgba(0,0,0,0.6);
  color:white;
  padding:15px 20px;
  border-radius:15px;
  font-size:15px;
  display:none;
  z-index:100;
}

#replayBtn{
  position:fixed;
  bottom:25px;
  left:50%;
  transform:translateX(-50%);
  z-index:101;
}
